@using EvernestWeb.ViewModels
@model EvernestWeb.Models.SourceModel

@{
    ViewBag.Title = "Source";
}

<h2><a href="/Manager">Manager</a> &gt; Source #@Model.Id - @Model.Name</h2>

<div>
    <div>
        <h4>Source info</h4>
        @{
            if (Model != null)
            {
                <ul>
                    <li>
                        <strong>Source ID :</strong> @Model.Id</li>
                    <li>
                        <strong>Source key :</strong> @Model.Key</li>
                </ul>
            }
        }

    </div>

    <div>
        <h4>Stream permissions</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Stream name</th>
                    <th>Access level</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.RelatedEventStreams != null && Model.RelatedEventStreams.Count > 0)
                {
                    foreach (var stream in Model.RelatedEventStreams)
                    {
                        <tr>
                            <td>@stream.Key</td>
                            <td>@stream.Value</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td></td>
                        <td><em>No rights given to source.</em></td>
                    </tr>

                }

            </tbody>
            <tfoot>
                <tr>
                    <td style="min-width: 15%;"></td>
                    <td>@{ Html.RenderPartial("_NewStreamToSourceFormPartial", new NewStreamToSourceModel()); }</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>