@using EvernestFront.Contract
@using EvernestWeb.Models
@model EvernestWeb.Models.StreamEventsModel

<h2><a href="/Manager">Manager</a> &gt; Stream</h2>

<div>
    <div>
        <h4>Stream</h4>
        @{
            if (Model != null)
            {
                <ul>
                    <li>Id : @Model.Stream.Id</li>
                    <li>Name : @Model.Stream.Name</li>
                    <li>Total Events : @Model.Stream.Count</li>
                </ul>
            }
        }
    </div>

    <div>
        <h4>Related users</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                  @{
                     if (Model.RelatedUsers != null)
                     {
                         foreach (KeyValuePair<string, AccessRight> usr in Model.RelatedUsers)
                         {
                             <tr><td>@usr.Key</td><td>@usr.Value</td></tr>
                         }
                     }
                 }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>@{ Html.RenderPartial("_AddUserFormPartial", new EvernestWeb.ViewModels.NewStreamUserModel());}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div>
        @{ Html.RenderPartial("_GetEventByIdFormPartial", new EvernestWeb.ViewModels.GetEventById());}
    </div>

    <!-- requested event -->

        
    @if (Model != null && Model.PulledEvent != null)
    {
        <div>
            <h4>Pulled Event</h4>
            <ul>
                <li>Id - Message</li>
                <li>@Model.PulledEvent.Id -- @Model.PulledEvent.Message</li>
            </ul>
        </div>
    }
                


    <div>
        <h4>Last Events</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Message</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @{
                if (Model != null && Model.Events != null)
                {

                    <tbody>
                    @foreach (EventModel e in Model.Events)
                    {
                        <tr><td>@e.Id</td><td>@e.Message</td></tr>
                    }
                    </tbody>
                }
                else
                {
                    <tbody>
                    <tr><td></td><td><em>No events pushed yet.</em></td></tr>
                    </tbody>
                }
            }

            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        @{ Html.RenderPartial("_AddEventFormPartial", new EvernestWeb.ViewModels.NewEventModel()); }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>