@using EvernestFront.Contract
@using EvernestWeb.Models
@model EvernestWeb.Models.StreamEventsModel

<h2><a href="/Manager">Manager</a> &gt; Stream #@Model.Stream.Id - @Model.Stream.Name</h2>

<div>
    <div>
        <h4>Stream information</h4>
        @{
            if (Model != null)
            {
                <ul>
                    <li><strong>Stream ID :</strong> @Model.Stream.Id</li>
                    <li><strong>Event count :</strong> @Model.Stream.Count</li>
                </ul>
                }
        }
    </div>

    <div>
        <h4>Related users</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                  @{
                     if (Model.RelatedUsers != null)
                     {
                         foreach (KeyValuePair<string, AccessRight> usr in Model.RelatedUsers)
                         {
                             ViewBag.UserId = usr.Key;
                             var updateUser = new EvernestWeb.ViewModels.UpdateUserRightOnStream();
                             updateUser.Right = usr.Value;
                             
                             <tr>
                                 <td>@usr.Key</td>
                                 <td>@{ Html.RenderPartial("_UpdateUserRightOnStreamFormPartial", updateUser); }</td>
                                 <td>@{ Html.RenderPartial("_DeleteUserRightOnStreamFormPartial", new EvernestWeb.ViewModels.DeleteUserRightOnStream()); }</td>
                             </tr>
                         }
                     }
                 }
            </tbody>
            <tfoot>
                <tr>
                    <td style="min-width: 15%;"></td>
                    <td>@{ Html.RenderPartial("_AddUserFormPartial", new EvernestWeb.ViewModels.NewStreamUserModel());}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div>
        <h4>Pull event by ID</h4>
        <table class="table table-striped">
            <thead>
            <tr><th>Id</th><th>Message</th><th></th></tr>
            </thead>
            @if (Model != null && Model.PulledEvent != null)
            {
                <tbody>
                <tr><td>@Model.PulledEvent.Id</td><td>@Model.PulledEvent.Message</td><td></td></tr>
                </tbody>
            }
            else
            {
                <tbody>
                <tr><td></td><td><em>No event pulled, please enter request in form below.</em></td><td></td></tr>
                </tbody>
            }
            <tfoot>
                <tr>
                    <td style="min-width: 15%;"></td>
                    <td>@{ Html.RenderPartial("_GetEventByIdFormPartial", new EvernestWeb.ViewModels.GetEventById());}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        
    </div>

    <!-- requested event -->

        
                


    <div>
        <h4>Last events</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            @{
                if (Model != null && Model.Events != null)
                {
                    foreach (EventModel e in Model.Events)
                    {
                        <tr><td>@e.Id</td><td>@e.Message</td></tr>
                    }
                }
                else
                {
                    <tr><td></td><td><em>No events pushed yet.</em></td></tr>
                }
            }
            </tbody>

            <tfoot>
                <tr>
                    <td style="min-width: 15%;"></td>
                    <td>
                        @{ Html.RenderPartial("_AddEventFormPartial", new EvernestWeb.ViewModels.NewEventModel()); }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>