@using EvernestWeb.ViewModels
@model EvernestWeb.Models.StreamEventsModel

<h2><a href="/Manager">Manager</a> &gt; <span class="manager-navbar-disabled">Stream</span> &gt; @Html.ActionLink("#" + Model.Stream.Id, "Stream", "Manager", new {id = Model.Stream.Id}, null)</h2>
<h3 class="manager-subtitle">
    @Model.Stream.Name <span class="info">@Model.Stream.Count events</span></h3>

<div>

    <div>
        <h4>Related users</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                if (Model.RelatedUsers != null)
                {
                    foreach (var usr in Model.RelatedUsers)
                    {
                        ViewBag.UserId = usr.Key;
                        var updateUser = new UpdateUserRightOnStream();
                        updateUser.Right = usr.Value;

                        <tr>
                            <td>@usr.Key</td>
                            <td>@{ Html.RenderPartial("_UpdateUserRightOnStreamFormPartial", updateUser); }</td>
                            <td>@{ Html.RenderPartial("_DeleteUserRightOnStreamFormPartial", new DeleteUserRightOnStream()); }</td>
                        </tr>
                    }
                }
            }
            </tbody>
            <tfoot>
            <tr>
                <td style="min-width: 15%;"></td>
                <td>@{ Html.RenderPartial("_AddUserFormPartial", new NewStreamUserModel()); }</td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div>
        <h4>Pull event by ID</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th><th>Message</th><th></th>
            </tr>
            </thead>
            @if (Model != null && Model.PulledEvent != null)
            {
                <tbody>
                <tr>
                    <td>@Model.PulledEvent.Id</td><td>@Model.PulledEvent.Message</td><td></td>
                </tr>
                </tbody>
            }
            else
            {
                <tbody>
                <tr>
                    <td></td><td>
                        <em>No event pulled, please enter request in form below.</em>
                    </td><td></td>
                </tr>
                </tbody>
            }
            <tfoot>
            <tr>
                <td style="min-width: 15%;"></td>
                <td>@{ Html.RenderPartial("_GetEventByIdFormPartial", new GetEventById()); }</td>
                <td></td>
            </tr>
            </tfoot>
        </table>

    </div>

    <!-- requested event -->


    <div>
        <h4>Last events</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            @{
                if (Model != null && Model.Events != null)
                {
                    foreach (var e in Model.Events)
                    {
                        <tr>
                            <td>@e.Id</td><td>@e.Message</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td></td><td>
                            <em>No events pushed yet.</em>
                        </td>
                    </tr>
                }
            }
            </tbody>

            <tfoot>
            <tr>
                <td style="min-width: 15%;"></td>
                <td>
                    @{ Html.RenderPartial("_AddEventFormPartial", new NewEventModel()); }
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>