@using EvernestFront.Contract
@using EvernestWeb.Models
@model EvernestWeb.Models.StreamEventsModel
    ViewBag.Title = "Stream";
}

<h2><a href="/Manager">Manager</a> &gt; Stream</h2>

<div>
    <div>
        <h4>Stream</h4>
        @{
            if (Model != null)
            {
                <ul>
                    <li>Id : @Model.Stream.Id</li>
                    <li>Name : @Model.Stream.Name</li>
                    <li>Total Events : @Model.Stream.Count</li>
                </ul>
                <ul>
                    <li>Related Users</li>
                    @{
                        if (Model.RelatedUsers != null)
                        {
                            foreach (KeyValuePair<string, AccessRight> usr in Model.RelatedUsers)
                            {
                                <li>@usr.Value (@usr.Key)</li>
                            }
                        }
                    }
                </ul>
            }
        }
    </div>

    <div>
        @Html.Partial("addUserFormPartial")

        @Html.Partial("addEventFormPartial")

    </div>

    <!-- requested event -->
    @{
        
    }

    <div>
        <h4>Last Events</h4>
        @{
            if (Model != null && Model.Events != null)
            {
                <ul>
                    <li>Id - Message etc...</li>
                    @foreach (EventModel e in Model.Events)
                    {
                        <li>@e.Id -- @e.Message</li>
                    }
                </ul>
            }
        }
    </div>
</div>