@using EvernestFront.Contract
@using EvernestWeb.Models
@model EvernestWeb.Models.StreamEventsModel

<h2><a href="/Manager">Manager</a> &gt; Stream</h2>

<div>
    <div>
        <h4>Stream</h4>
        @{
            if (Model != null)
            {
                <ul>
                    <li>Id : @Model.Stream.Id</li>
                    <li>Name : @Model.Stream.Name</li>
                    <li>Total Events : @Model.Stream.Count</li>
                </ul>
                <ul>
                    <li>Related Users</li>
                    @{
                        if (Model.RelatedUsers != null)
                        {
                            foreach (KeyValuePair<string, AccessRight> usr in Model.RelatedUsers)
                            {
                                <li>@usr.Key (@usr.Value)</li>
                            }
                        }
                    }
                </ul>
            }
        }
    </div>

    <div>
        @{ Html.RenderPartial("_AddUserFormPartial", new EvernestWeb.ViewModels.NewStreamUserModel());}

        @{ Html.RenderPartial("_GetEventByIdFormPartial", new EvernestWeb.ViewModels.GetEventById());}

        @{ Html.RenderPartial("_AddEventFormPartial", new EvernestWeb.ViewModels.NewEventModel()); }

    </div>

    <!-- requested event -->

        
    @if (Model != null && Model.PulledEvent != null)
    {
        <div>
            <h4>Pulled Event</h4>
            <ul>
                <li>Id - Message</li>
                <li>@Model.PulledEvent.Id -- @Model.PulledEvent.Message</li>
            </ul>
        </div>
    }
                


    <div>
        <h4>Last Events</h4>
        @{
    if (Model != null && Model.Events != null)
            {
                <ul>
                    <li>Id - Message etc...</li>
                    @foreach (EventModel e in Model.Events)
                    {
                        <li>@e.Id -- @e.Message</li>
                    }
                </ul>
            }
        }
    </div>
</div>