@using EvernestWeb.Models;

@{
    ViewBag.User = null;
    ViewBag.IsAuthenticated = false;
    if (Session["User"] != null)
    {
        ViewBag.IsAuthenticated = true;
        ViewBag.User = (User)Session["User"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img alt="Evernest" src="@Url.Content("~/Content/Images/logo.png")" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav left">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
                <li><a href="https://github.com/Evernest/Evernest">Development</a></li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <!-- test -->
            <div class="evernest-right-menu">
                @if (ViewBag.IsAuthenticated)
                {
                    <ul class="nav navbar-nav right">
                        <li>
                            <a href="@Url.Action("Index", "Account")">
                                <img alt="" src="@Url.Content("~/Content/Images/profile.svg")" />
                                @ViewBag.User.Username
                            </a>
                        </li>
                        <li>@Html.ActionLink("Manager", "Index", "Manager")</li>
                        <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav right">
                        <li>@Html.ActionLink("Sign up", "Register", "Account")</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                    </ul>
                }
            </div>
            <!-- test end -->
        </div>
    </div>
</div>
    @RenderBody()
    <div class="container body-content">
        <hr />
        <footer>
            <ul class="nav navbar-nav right">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
                <li><a href="https://github.com/Evernest/Evernest">Development</a></li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>

            <p>&copy; @DateTime.Now.Year - Evernest</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
