@{
    ViewBag.Title = "Evernest";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<section class="slide" id="slide-1">
    <div class="container body-content slide--wrapper">
        <h1><img alt="let your log touch the cloud" src="@Url.Content("~/Content/Images/mountain.png" )" /></h1>
        <h3>Evernest is an easy-to-use event store service that enable you to manage all kind of logs</h3>

        <a href="#slide-2" class="smooth-link slide--next">
            <img alt="Next" src="@Url.Content("~/Content/Images/arrow.png")" />
        </a>
    </div>
</section>

<section class="slide" id="slide-2">
    <div class="container body-content slide--wrapper">
        <h1>Access your events though a simple interface</h1>
        <p class="summary">Push events to streams and pull them by slices.</p>

        <img class="scheme" alt="" src="@Url.Content("~/Content/Images/explain_events.png")" />
        <a class="slide--more" href="https://github.com/Evernest/Evernest/wiki/Concepts:-Events,-Streams-and-Rights#events">More about events</a>

        <a href="#slide-3" class="smooth-link slide--next">
            <img alt="Next" src="@Url.Content("~/Content/Images/arrow.png")" />
        </a>
    </div>
</section>

<section class="slide" id="slide-3">
    <div class="container body-content slide--wrapper">
        <h1>Organize your events into streams</h1>
        <p class="summary">Use different event streams to store different type of data.</p>

        <img class="scheme" alt="" src="@Url.Content("~/Content/Images/explain_streams.png")" />
        <a class="slide--more" href="https://github.com/Evernest/Evernest/wiki/Concepts:-Events,-Streams-and-Rights#streams">More about streams</a>

        <a href="#slide-4" class="smooth-link slide--next">
            <img alt="Next" src="@Url.Content("~/Content/Images/arrow.png")" />
        </a>
    </div>
</section>

<section class="slide" id="slide-4">
    <div class="container body-content slide--wrapper">
        <h1>Isolate your different event sources</h1>
        <p class="summary">
            Use Evernest for all your needs without worying about access security.
            Provide to your sources a restricted access to your streams and cancel it whenever you want.
        </p>

        <img class="scheme" alt="" src="@Url.Content("~/Content/Images/explain_sources.png")" />
        <a class="slide--more" href="https://github.com/Evernest/Evernest/wiki/Concepts:-Events,-Streams-and-Rights#sources">More about sources</a>

        <a href="#slide-5" class="smooth-link slide--next">
            <img alt="Next" src="@Url.Content("~/Content/Images/arrow.png")" />
        </a>
    </div>
</section>

<section class="slide" id="slide-5">
    <div class="container body-content slide--wrapper">
        <h1>Share event streams with your collaborators</h1>
        <p class="summary">Provide an access to your common project streams to your collaborators and share their events.</p>

        <img class="scheme" alt="" src="@Url.Content("~/Content/Images/explain_user_rights.png")" />
        <a class="slide--more" href="https://github.com/Evernest/Evernest/wiki/Concepts:-Events,-Streams-and-Rights#user-rights">More about user rights</a>

        <a href="#slide-6" class="smooth-link slide--next">
            <img alt="Next" src="@Url.Content("~/Content/Images/arrow.png")" />
        </a>
    </div>
</section>

<section class="slide" id="slide-6">
    <div class="container body-content slide--wrapper">
        <h1>Benefit from the power of precise access rights</h1>
        <p class="summary">Enable read or write access only to some of your sources or collaborators. Or allow them to manage other people's rights.</p>

        <img class="scheme" alt="" src="@Url.Content("~/Content/Images/explain_rights.png")" />
        <a class="slide--more" href="https://github.com/Evernest/Evernest/wiki/Concepts:-Events,-Streams-and-Rights#rights">More about rights</a>

        <a href="#slide-7" class="smooth-link slide--next">
            <img alt="Next" src="@Url.Content("~/Content/Images/arrow.png")" />
        </a>
    </div>
</section>

<section class="slide slide-try" id="slide-7">
    <div class="container body-content slide--wrapper">
        <a class="btn btn-primary" href="@Url.Action("SignUp", "Account")">Sign up and try Evernest for free</a>
        <p class="slide-try--or-wrapper"><span class="slide-try--or">or</span></p>
        <a class="btn btn-primary" href="http://github.com/Evernest/Evernest">Get source code on GitHub</a>
    </div>
</section>
