@model EvernestWeb.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Vous êtes connecté en tant que <strong>@User.Identity.Name</strong>.</p>

<p>@Html.ActionLink("Manage your Store.","Index", "Store")</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<!--
    <section id="externalLogins">
    //Html.Action("RemoveExternalLogins")

    <h3>Ajouter une connexion externe</h3>
    //Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
